@import "./base/base.scss";
@import "./reset/reset.scss";
@import "./mixin/mixin.scss";
@import "./variables/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
